*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0f1318;
    color:white;
    font-family:Arial, sans-serif;
}

.head{
    display:flex;
    align-items:center;
    padding:20px;
}

.container{
    width:90%;
    max-width:1200px;   
    margin:auto;
}

.controls{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:30px 0;
}


.search-box{
    display:flex;
    gap:10px;
    width:100%;
    max-width:700px;
    margin-bottom:15px;
}

.search-box input{
    flex:1;
    border-radius:10px;
    border:none;
    padding:10px;
    font-size:16px;
}

.search-box button{
    padding:10px 15px;
    background:#d4952a;
    border-radius:10px;
    border:none;
    cursor:pointer;
}


.filter-box{
    display:flex;
    gap:10px;
    flex-wrap:wrap;
    justify-content:center;
}

.filter-box select{
    border-radius:10px;
    padding:10px;
    width:180px;
}


.movie-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(220px, 1fr));  
    gap:20px;
}


.movie-card{
    background:#222;
    border-radius:10px;
    overflow:hidden;
    transition: transform 0.2s ease;   
}

.movie-card:hover{
    transform: scale(1.03);
}

.movie-card img{
    width:100%;
    height:300px;
    object-fit:cover;
}

.info{
    padding:10px;
}

.info h3{
    font-size:16px;
}

.info p{
    font-size:14px;
    color:gray;
}


.placeholder-text {
    grid-column: 1 / -1;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    min-height:60vh;   
}


@media (max-width: 768px){
    .search-box{
        flex-direction:column;
    }
    .search-box button{
        width:100%;
    }
    .filter-box{
        flex-direction:column;
        align-items:center;
    }
    .filter-box select{
        width:100%;
        max-width:300px;
    }
    .movie-card img{
        height:250px;
    }
}


@media (max-width: 480px){
    .head{
        justify-content:center;  
    }
    .head h1{
        font-size:18px;
        text-align:center;
    }
    .movie-card img{
        height:220px;
    }
    .info h3{
        font-size:14px;
    }
    .info p{
        font-size:12px;
    }
}